@import url("https://fonts.googleapis.com/css2?family=Keania+One&display=swap");
@import url("https://fonts.cdnfonts.com/css/open-sans-condensed-2");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
