$fontPrimary: "Keania One", cursive;
$fontSecondary: "Asap Condensed", sans-serif;
$fontTertirary: "Roboto Mono", monospace;

$colorPrimary: #5a01cc;
$colorSecondary: #2e0167;

$colorBtnPrimary: #be166e;
$colorBtnSecondary: #c59cf5;
$colorBtnTertiary: #68e199;
$colorSuccess: #36ae51;

$colorTextPrimary: #343434;
$colorTextSecondary: #d9d9d9;
$colorTextTertiary: #979797;

$colorBgPrimary: #fbfbfb;
$colorBgSecondary: #f2f2f2;
$colorBgTertiary: #fcf3ff;

$grey-dark: #282828;
$grey-light: #d9d9d9;
$purple: #5a01cc;
$purple-dark: #2e0167;
$pink: #be166e;
$white-dark: #eaeaea;

$tablet: "min-width: 580px";
$tabletLarge: "min-width: 768px";
$desktop: "min-width: 1024px";
$desktopLarge: "min-width: 1300px";
